#main{
    /* border:1px solid red; */
    height:500px;
    width:1000px;
    /* margin:auto; */
    display:flex;
    margin-left:200px;
    margin-top: 70px;
}
#oness{
    height:90%;
    width:65%;
    /* border:1px solid teal; */
    background-color: rgb(230, 230, 230);
}
#twoss{
    height:90%;
    width:33%;
    /* border:1px solid rgb(28, 225, 10); */
    margin-bottom: 1150px;;
    background-color: rgb(226, 114, 123);
}
#oness>input{
    height:8%;
    width:65%;
    border:1px solid teal;
    margin-bottom: 2%;
    margin-top: 1%;
    text-align: center;
}
